
lsq/bin/

lsq/obj/

ConsoleApp1/bin/

ConsoleApp1/obj/

lsq/\.vs/

lsq/
/.vs/hmnd.linq.search/v15
/hmnd.linq.search/bin/Debug/netstandard2.0
/hmnd.linq.search/obj/Debug/netstandard2.0
/hmnd.linq.search/obj
/hmnd.linq.search.test/bin/Debug/netcoreapp2.0
/hmnd.linq.search.test/obj

hmnd\.linq\.search\.test/bin/

hmnd\.linq\.search/bin/

hmnd\.linq\.search/publish\.ps1

\.vscode/
